<article class="order-item">
    <div class="order-summary">
      <h2><span class="order-item-price">$<%= order.productData.totalPrice.toFixed(2) %></span> - <%= order.formattedDate %></h2>
      <p><span class="order-status"><%= order.status.toUpperCase() %></span></p>
    </div>
  
    <section class="order-details">
      <% if (locals.isAdmin) { %>
        <address>
          <p><a href="mailto:<%= order.userData.email %>"><%= order.userData.name %></a></p>
          <p><% if (order.userData.address.unit) { %> Unit <%= order.userData.address.unit %> <% } %><%= order.userData.address.address %>, <%= order.userData.address.city %>, <%= order.userData.address.postal %>, <%= order.userData.address.province %></p>
        </address>
      <% } %>
      <ul>
        <% for (const item of order.productData.items) { %>
          <li><%= item.product.title %> - $<%= item.totalPrice.toFixed(2) %> ($<%= item.product.price.toFixed(2) %> x <%= item.quantity %>)</li>
        <% } %>
      </ul>
    </section>
  
    <% if (locals.isAdmin) { %>
      <section class="order-actions">
        <form>
          <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
          <input type="hidden" name="orderid" value="<%= order.id %>">
          <select name="status">
            <option value="pending" <% if (order.status === 'pending') { %>selected<% } %>>Pending</option>
            <option value="delivered" <% if (order.status === 'delivered') { %>selected<% } %>>Delivered</option>
            <option value="cancelled" <% if (order.status === 'cancelled') { %>selected<% } %>>Cancelled</option>
          </select>
          <button class="btn">Update</button>
        </form>
      </section>
    <% } %>
  </article>