<article class="product-item">
  <div class="product-item--content">
    <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
    <h2><%= product.title %></h2>
    <h3>$<%= product.price %></h3>
    <div class="product-item--actions">
      <% if (locals.isAdmin) { %>
      <a class="btn grid-btn" href="/admin/products/<%= product.id %>"
        >View & Edit</a
      >
      <form action="/admin/delete/<%= product.id %>" method="POST">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
        <button class="btn btn-reset grid-btn">Delete</button>
      </form>
      <% } else { %> 
        <a class="btn grid-btn" href="/products/<%= product.id %>">View Details</a>
        <button class="btn grid-btn add-cart-btn">Add to Cart</button>
        <% } %>
    </div>
  </div>
</article>
